{% extends 'base.html' %} {% block content %} {% if request.user.is_authenticated %} {% for message in messages %}
<p>
  <span class="color-gray">[{{ message.created_at }}] </span>{{message.author}}: <i>{{ message.text }}</i>
</p>
{% endfor %}

<script>
  async function sendMessage() {
    let fd = new FormData();
    let token = '{{ csrf_token }}';
    fd.append('themessage', themessage.value);
    fd.append('csrfmiddlewaretoken', token)

    try {
      await fetch('/chat/', {
        method: 'POST',
        body: fd
      });
      themessage.value = '';
      console.log('SEND SUCCESSFULL!!!');
    } catch(e) {
      console.error('SEND NOT SUCCESS!!!', e);
    }
  }
</script>

<form onsubmit="sendMessage(); return false;" method="post">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      name="themessage"
      class="mdl-textfield__input"
      type="text"
      id="themessage"
    />
    <label class="mdl-textfield__label" for="themessage">Text...</label>
  </div>

  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
  >
    Send
  </button>
</form>

{% else %}
<h1>No access!</h1>
<p>You're not logged in. Please click <a href="/login/">here</a> to log in.</p>

{% endif %} {% endblock %}
